<!DOCTYPE html>
<html>
	<head>
		<title>Ribs Administration</title>
		<meta charset="UTF-8">
		
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
		{% endblock %}
	</head>
	<body>
		<nav class="menu active">
			<div class="title">
				<h1>Ribs V0.1</h1>
				<i class="fa fa-bars"></i>
			</div>
			
			<div class="mon-compte">
				<div class="column">
					<div class="image">
						<img src="{{ asset('bundles/ribsadmin/images/default-profile.png') }}" alt="">
					</div>
				</div>
				<div class="column">
					<div class="account-infos">
						<h3>Username</h3>
						<div class="functions">
							
							<div class="column">
								<div class="notif not-view">
									<a href=""><i class="fa fa-bell"></i></a>
								</div>
							</div>
							
							<div class="column">
								<div class="config">
									<a href=""><i class="fa fa-gear"></i></a>
								</div>
							</div>
							<div class="column">
								<div class="logout">
									<a href=""><i class="fa fa-sign-out"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

            {#{{ render("RibsAdminBundle:NavigationBuilder:getLeftNavigation") }}#}
		</nav>
		
		{% block body %}
		
		{% endblock %}
		
		{% for message in app.session.flashBag.get('error-flash') %}
			{% include "@RibsAdmin/flash-messages.html.twig" with {"message": message, "type": "error"} %}
		{% endfor %}
		
		{% for message in app.session.flashBag.get('info-flash') %}
			{% include "@RibsAdmin/flash-messages.html.twig" with {"message": message, "type": "info"} %}
		{% endfor %}
		
		{% for message in app.session.flashBag.get('success-flash') %}
			{% include "@RibsAdmin/flash-messages.html.twig" with {"message": message, "type": "success"} %}
		{% endfor %}
		
		{% block javascripts %}
			<script src="{{ asset('build/js/vendor.js') }}"></script>
			<script src="{{ asset('build/js/main.js') }}"></script>
		{% endblock %}
	</body>
</html>