<!DOCTYPE html>
<html>
	<head>
		<title>Ribs Administration</title>
		<meta charset="UTF-8">
		
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('bundles/ribsadmin/css/vendor.css') }}">
			<link rel="stylesheet" href="{{ asset('bundles/ribsadmin/css/style.css') }}">
		{% endblock %}
	</head>
	<body>
        <nav id="left-nav">
            <div class="title">
                <h1>Ribs V0.1</h1>
            </div>

            {{ render(controller("PiouPiou\\RibsAdminBundle\\Controller\\NavigationBuilderController::getLeftNavigation")) }}
        </nav>
		
		<header id="main">
            <form action="">
                {#<i class="fas fa-search"></i>#}
                {#<input type="text" placeholder="Recherche quelque chose">#}
            </form>
            <ul>
                <li id="notif"><i class="fas fa-bell"></i></li>
                <li id="profile">{{ app.user.user.firstname }} {{ app.user.user.lastname }}</li>
            </ul>
		</header>
		
		{% block nav_page %}
		
		{% endblock %}
		
		<main>
			{% block body %}
			{% endblock %}
		</main>
		
		{% for message in app.session.flashBag.get('error-flash') %}
			{% include "@RibsAdmin/flash-messages.html.twig" with {"message": message, "type": "error"} %}
		{% endfor %}
		
		{% for message in app.session.flashBag.get('info-flash') %}
			{% include "@RibsAdmin/flash-messages.html.twig" with {"message": message, "type": "info"} %}
		{% endfor %}
		
		{% for message in app.session.flashBag.get('success-flash') %}
			{% include "@RibsAdmin/flash-messages.html.twig" with {"message": message, "type": "success"} %}
		{% endfor %}
		
		<div class="ribs-popup" id="delete-element">
			<div class="content fixed-width">
				<div id="set-content">
					<h2>Are you sure you want to delete this item ?</h2>
					<p class="warning">You can't go back if you delete !</p>
				</div>
				
				<div class="link">
					<a class="cancel" data-close>Cancel</a>
					<a href="#" class="validate"  data-validate>Validate</a>
				</div>
				<div class="clear"></div>
			</div>
		</div>

        <div id="loader">
            <div class="lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

		
		{% block javascripts %}
			<script src="{{ asset('bundles/ribsadmin/runtime.js') }}"></script>
			<script src="{{ asset('bundles/ribsadmin/js/vendor.js') }}"></script>
			<script src="{{ asset('bundles/ribsadmin/js/main.js') }}"></script>
		{% endblock %}
	</body>
</html>
