{% extends "@RibsAdmin/base.html.twig" %}

{% block title_page %}
	<h1>Create a user</h1>
{% endblock %}

{% block body %}
	{{ form_start(form) }}
	<div class="top-buttons">
		{{ form_widget(form.submit) }}
		<a href="{{ path('ribsadmin_accounts') }}" class="delete">Cancel</a>
	</div>
	
	<div class="content-block">
		<h2>Account informations</h2>
		
		<div class="block mid-width">
			{{ form_label(form.username) }}
			{{ form_widget(form.username) }}
		</div>
		<div class="block mid-width">
			{{ form_label(form.email) }}
			{{ form_widget(form.email) }}
		</div>
		<div class="block mid-width">
			{{ form_label(form.password.first) }}
			{{ form_widget(form.password.first, {'required' : 'create' in app.request.attributes.get("_route") ? 'required' : '' }) }}
		</div>
		<div class="block mid-width">
			{{ form_label(form.password.second) }}
			{{ form_widget(form.password.second, {'required' : 'create' in app.request.attributes.get("_route") ? 'required' : '' }) }}
		</div>
		<div class="block mid-width">
			{{ form_label(form.user.firstname) }}
			{{ form_widget(form.user.firstname) }}
		</div>
		<div class="block mid-width">
			{{ form_label(form.user.lastname) }}
			{{ form_widget(form.user.lastname) }}
		</div>
	</div>
	
	<div class="content-block">
		<h2>Account informations</h2>
		
		<div class="block mid-width no-input">
			{{ form_label(form.user.admin) }}
			{{ form_widget(form.user.admin) }}
		</div>
		<div class="block mid-width no-input">
			{{ form_label(form.user.AccessRightList) }}
			{{ form_widget(form.user.AccessRightList) }}
		</div>
	</div>
	{{ form_end(form) }}
	
	<div class="RibsFlashMessage error">
		<div class="notification">
			<div class="left">
				<div class="icone">
					<i class='fa fa-check'></i>
				</div>
			</div>
			<div class="right">
				{{ form_errors(form.username) }}
				{{ form_errors(form.email) }}
				{{ form_errors(form.password.first) }}
				{{ form_errors(form.password.second) }}
				{{ form_errors(form.user.firstname) }}
				{{ form_errors(form.user.lastname) }}
			</div>
		</div>
	</div>
{% endblock %}