{% extends "@RibsAdmin/base.html.twig" %}

{% block title_page %}
	<h1>List all users</h1>
{% endblock %}

{% block body %}
	{% if ribsadmin_acces_right.testRight("ribsadmin@account@create") == true %}
		<div class="top-buttons">
			<a href="{{ path('ribsadmin_accounts_create') }}">Create an account</a>
		</div>
	{% endif %}
	
	<div class="content-block">
		<h2>Activated accounts on website</h2>
		<table class="list">
			<thead>
				<tr>
					<td>Profile image</td>
					<td>Firstname Ladtname</td>
					<td>Pseudo</td>
					<td>Reinitialise password</td>
					{% if ribsadmin_acces_right.testRight("ribsadmin@account@archive") == true %}
						<td>Archive account</td>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td><img src="http://ribs.anthony-pilloud.fr/app/images/profil/defaut.png"></td>
						<td><a href="{{ path('ribsadmin_accounts_edit', {'guid': user.user.guid}) }}">{{ user.user.firstname }} {{ user.user.lastname }}</a></td>
						<td>{{ user.username }}</td>
						<td><a>Reinitialise password</a></td>
						{% if ribsadmin_acces_right.testRight("ribsadmin@account@archive") == true %}
							<td>
								<a href="#" class="delete open-popup" data-ribspopup data-href="{{ path('ribsadmin_accounts_archive', {"guid": user.user.guid}) }}" data-popup="delete-element">
									Archive this account
								</a>
							</td>
						{% endif %}
					</tr>
				{% else %}
					<tr>
						<td colspan="6" class="text-center">No account was found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

    <div class="content-block">
        <h2>Archived accounts on website</h2>
        <table class="list">
            <thead>
            <tr>
                <td>Profile image</td>
                <td>Firstname Ladtname</td>
                <td>Pseudo</td>
                <td>Reinitialise password</td>
				{% if ribsadmin_acces_right.testRight("ribsadmin@account@archive") == true %}
					<td>Active account</td>
				{% endif %}
			</tr>
            </thead>
            <tbody>
            {% for user in users_archived %}
                <tr>
                    <td><img src="http://ribs.anthony-pilloud.fr/app/images/profil/defaut.png"></td>
                    <td>{{ user.user.firstname }} {{ user.user.lastname }}</td>
                    <td>{{ user.username }}</td>
                    <td><a>Reinitialise password</a></td>
					{% if ribsadmin_acces_right.testRight("ribsadmin@account@archive") == true %}
						<td><a href="{{ path('ribsadmin_accounts_archive', {"guid": user.user.guid, "activate": true}) }}">Active this
								account</a></td>
					{% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">No archived account was found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}