{% extends "@RibsAdmin/base.html.twig" %}

{% block title_page %}
	<h1>Access rights management : </h1>
	<h2>Edit list {{ access_right.name }}</h2>
{% endblock %}

{% block body %}
	{{ form_start(form) }}
	<div class="top-buttons">
		{{ form_widget(form.submit) }}
		<a href="{{ path('ribsadmin_access_rights') }}" class="delete">Cancel</a>
	</div>
	
	<div class="content-block">
		<h2>Edit the name of the list</h2>
		
		<div class="block">
			{{ form_label(form.name) }}
			{{ form_widget(form.name) }}
		</div>
	</div>
	
	<div class="content-block">
		<h2>General rights list</h2>
		
		<table class="list">
			<thead>
			<tr>
				<td>name of the right</td>
				<td>Activate or not</td>
			</tr>
			</thead>
			<tbody>
				{% for i in ribs_admin_rights.items %}
					<tr>
						<td>{{ i.text }}</td>
						<td>
							<label for="right-check{{ loop.index }}" class="ribs-checkbox switched">
								<input type="checkbox" class="test-check" id="right-check{{ loop.index }}" name="right[]"
									   value="{{ i.right }}" {% if i.right in list_rights_user %}checked{% endif %}>
							</label>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
	{% for i in modules %}
		<div class="content-block">
			<h2>{{ i.name }} rights list</h2>
			
			<table class="list">
				<thead>
					<tr>
						<td>name of the right</td>
						<td>Activate or not</td>
					</tr>
				</thead>
				<tbody>
					{% for j in i.rights.items %}
						<tr>
							<td>{{ j.text }}</td>
							<td>
								<label for="right-check-{{ i.name }}-{{ loop.index }}" class="ribs-checkbox switched">
									<input type="checkbox" class="test-check" id="right-check-{{ i.name }}-{{ loop.index }}" name="right[]"
										   value="{{ j.right }}" {% if j.right in list_rights_user %}checked{% endif %}>
								</label>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endfor %}
	
	<div class="content-block">
		<h2>Administrators list</h2>
		
		<table class="list">
			<thead>
			<tr>
				<td>name of the admin</td>
				<td>Inside the list or not</td>
			</tr>
			</thead>
			<tbody>
			{% for i in admins %}
				<tr>
					<td>{{ i.firstname }} {{ i.lastname }}</td>
					<td>
						<label for="admin-check{{ loop.index }}" class="ribs-checkbox switched">
							<input type="checkbox" class="test-check" id="admin-check{{ loop.index }}" name="admins[]"
							       value="{{ i.guid }}" {% if i in access_right.users %}checked{% endif %}>
						</label>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	{{ form_end(form) }}
{% endblock %}