{% extends "@RibsAdmin/base.html.twig" %}

{% block title_page %}
	<h1>Access rights management : </h1>
	<h2>Edit list {{ access_right.name }}</h2>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <div class="top-buttons">
            {{ form_widget(form.submit) }}
        </div>

		<div class="content-block">
			<h2>Edit the name of the list</h2>
			
			<div class="block">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
			</div>
		</div>
		
		<div class="content-block">
			<h2>Right list</h2>
			
			<table class="list">
				<thead>
					<tr>
						<td>name of the right</td>
						<td>Activate or not</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>toto</td>
						<td><input type="checkbox"></td>
					</tr>
				</tbody>
			</table>
		</div>
    {{ form_end(form) }}
{% endblock %}