{% extends "@RibsAdmin/base.html.twig" %}

{% block title_page %}
	<h1>Access rights management</h1>
{% endblock %}


{% block body %}
	<div class="multiple-blocks">
		{% for i in access_right %}
			<div class="block">
				<img src="{{ asset('bundles/ribsadmin/images/block-background.png') }}" alt="background of the block">
				<h2>{{ i.name }}</h2>
				
				<ul>
					<li>Number of users : {{ i.users|length }}</li>
					<li>Created at {{ i.creationDate|date("Y/m/d") }}</li>
					<li>Edited at {{ i.updateDate|date("Y/m/d") }}</li>
				</ul>
				
				<a href="" class="edit">Edit</a>
				<a href="" class="delete">Delete</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}