{% extends "@RibsAdmin/base.html.twig" %}


{% block body %}
	<div class="ribs-container-fluid">
		{% if ribsadmin_acces_right.testRight("ribsadmin@access_rights@create") == true %}
			<div class="top-links">
				<a  class="ribs-button" href="{{ path('ribsadmin_access_rights_create') }}">Create a new list</a>
			</div>
		{% endif %}

		<div class="page-title">
			<span>Overview</span>
			<h3>List access rights lists</h3>
		</div>

		<div class="row">
			{% for i in access_right %}
				<div class="cxs-12 cmd-3">
					<div class="block">
						<header>
							<h5>{{ i.name }}</h5>
						</header>

						<div class="row content">
							<div class="cxs-12">
								<h6>Details</h6>
								<ul class="p-initial rounded">
									<li>Number of users : {{ i.users|length }}</li>
									<li>Created at {{ i.createdAt|date("Y/m/d") }}</li>
									<li>Edited at {{ i.updatedAt|date("Y/m/d") }}</li>
								</ul>
							</div>
						</div>

						<footer>
							<div class="row mb0-5">
								<a class="ribs-button" href="{{ path('ribsadmin_access_rights_show', {"guid": i.guid}) }}">Show</a>
							</div>
							<div class="row between-xs">
								{% if ribsadmin_acces_right.testRight("ribsadmin@access_rights@edit") == true %}
									<a class="ribs-button" href="{{ path('ribsadmin_access_rights_edit', {"guid": i.guid}) }}">Edit</a>
								{% endif %}

								{% if ribsadmin_acces_right.testRight("ribsadmin@access_rights@delete") == true %}
									<a class="ribs-button danger" href="{{ path('ribsadmin_access_rights_delete', {"guid": i.guid}) }}">Delete</a>
								{% endif %}
							</div>
						</footer>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
