{% extends "@RibsAdmin/base.html.twig" %}

{% block body %}
    <div class="ribs-container-fluid">
        {% if ribsadmin_acces_right.testRight("ribsadmin@versions@create") == true %}
            <div class="top-links">
                <a href="{{ path('ribsadmin_versions_create') }}" class="ribs-button">Create a project</a>
            </div>
        {% endif %}

        <div class="page-title">
            <span>Overview</span>
            <h3>List all projects and versions</h3>
        </div>

        <div class="row">
            <div class="cxs-12">
                <div class="block">
                    <header>
                        <h5>Project versions</h5>
                    </header>

                    <table>
                        <thead>
                            <tr>
                                <th>Project name</th>
                                <th>Project url</th>
                                <th>Packagist version</th>
                                <th>Version</th>
                                <th>Version date</th>
                                <th>Last check</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for version in verions %}
                                <tr>
                                    <td>{{ version.projectName }}</td>
                                    <td>{{ version.projectUrl }}</td>
                                    <td>{{ version.version }}</td>
                                    <td>{{ version.lastPackagistVersion }}</td>
                                    <td>{{ version.versionDate|date('Y/m/d') }}</td>
                                    <td>{{ version.lastCheck|date('Y/m/d H:i:s') }}</td>
                                    <td>
                                        <a href="{{ path('ribsadmin_versions_update', {'guid': version.guid}) }}">Update infos</a>
                                        <a href="{{ path('ribsadmin_versions_show', {'guid': version.guid}) }}">Show</a>
                                        {% if ribsadmin_acces_right.testRight("ribsadmin@versions@edit") == true %}
                                            <a href="{{ path('ribsadmin_versions_edit', {'guid': version.guid}) }}">Edit</a>
                                        {% endif %}
                                        {% if ribsadmin_acces_right.testRight("ribsadmin@versions@delete") == true %}
                                            <a href="#" class="delete open-popup" data-ribspopup data-href="{{ path('ribsadmin_versions_delete', {'guid': version.guid}) }}" data-popup="delete-element">
                                                Delete
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6" class="text-center">No project was found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
