{% extends "@RibsAdmin/base-login.html.twig" %}

{% block body %}
	<div class="login">
		<div id="particles-js"></div>
		
		<div class="inner">
			<div class="login-form active" id="login">
				<form action="{{ path("login_check") }}" method="POST">
					<img src="{{ asset('bundles/ribsadmin/images/ribs.png') }}" alt="">
					
					<h1>Connection to Ribs</h1>
					
					<div class="block">
						<label class="label" for="_username" data-error="" data-empty="Your username can not be empty">Your pseudo</label>
						<input type="text" name="_username"  data-type="string" required="required">
					</div>
					
					<div class="block">
						<label class="label" for="_password" data-error="" data-empty="Your password can not be empty">Your password</label>
						<input type="password" name="_password" data-type="string" required>
					</div>
					
					<button type="submit" class="no-shadow full-width">Connection</button>
					
					{% if csrf_token %}
						<input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
					{% endif %}
				</form>
				
				<div class="link">
					<a id="mdp-oublie">Forgot your password ?</a>
				</div>
			</div>
			
			<div class="login-form" id="mdp-oublie">
				<form action="" method="POST">
					<img src="{{ asset('bundles/ribsadmin/images/ribs.png') }}" alt="">
					
					<h1>Forgot your password</h1>
					
					<div class="block">
						<label class="label" for="mail" data-error="E-mail must be at least 3 caracters">Enter your E-mail</label>
						<input type="text" name="mail" required/>
					</div>
					
					<button type="submit" class="no-shadow full-width">Send</button>
				</form>
				
				<div class="link">
					<a id="login">Return</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	<script src="{{ asset("build/ribs-admin-bundle/js/login.js") }}"></script>
{% endblock %}