{% extends "@RibsAdmin/base.html.twig" %}

{% block nav_page %}
	<nav class="nav-page">
		{% if navigation is iterable and navigation|length > 0 %}
			<ul>
				{% for i in navigation %}
					<li><a href="{{ i.url }}" title="{{ i.title_tag }}">{{ i.title }}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
	</nav>
{% endblock %}

{% block body %}
	<div class="ribs-container-fluid">
		<div class="page-title">
			<span>Overview</span>
			<h3>Edit page</h3>
		</div>

		<div class="row">
			<div class="cxs-12">
				<div class="block">
					<div class="row content">
						<textarea name="ribs-wysiwyg" id="ribs-wysiwyg" cols="30" rows="10"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/ribsadmin/js/edit-page.js') }}"></script>
{% endblock %}
